JUPYTER_UID=
POSTGRES_MLFLOW_USER=
POSTGRES_MLFLOW_PASSWORD=
POSTGRES_MLFLOW_DB=
POSTGRES_DATA_USER=
POSTGRES_DATA_PASSWORD=
POSTGRES_DATA_DB=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=
JUPYTER_TOKEN=
